[submodule "/home/conor/.dotfiles/vim/.vim/pack/conor/start/nerdtree"]
	path = /home/conor/.dotfiles/vim/.vim/pack/conor/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "/home/conor/.dotfiles/vim/.vim/pack/conor/start/autoswap"]
	path = /home/conor/.dotfiles/vim/.vim/pack/conor/start/autoswap
	url = https://github.com/gioele/vim-autoswap.git
[submodule "/home/conor/.dotfiles/vim/.vim/pack/conor/opt/vim-go"]
	path = /home/conor/.dotfiles/vim/.vim/pack/conor/opt/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/.vim/pack/conor/opt/vim-elixir"]
	path = vim/.vim/pack/conor/opt/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir.git
